<!-- views/add-product.ejs -->

<h1 class="mt-5 mb-4">Update Product</h1>

<%if(errorMessage){ %>
    <%errorMessage.forEach(err=>{%>
    <div class="alert alert-danger" role="alert">
        <%= err.msg %>
    </div>
    <%})%>
<%}%>

<!-- using EJS template we can fill existing value of product in form -->

<form action="/update-product" method="post">
    <input type="hidden" class="form-control" id="id" name="id" value="<%= product.id %>">
    
    <div class="mb-3">
        <label for="name" class="form-label">Product Name</label>
        <input type="text" class="form-control" id="name" name="name" value="<%= product.name %>">
    </div>
    <div class="mb-3">
        <label for="desc" class="form-label">Product Description</label>
        <textarea class="form-control" id="desc" name="desc" rows="3"
        required><%= product.desc %>
    </textarea>
    </div>
    <div class="mb-3">
        <label for="price" class="form-label">Price</label>
        <input type="number" class="form-control" id="price" name="price" 
        value="<%= product.price %>"
        step="0.01">
    </div>
    <div class="mb-3">
        <label for="imageUrl" class="form-label">Image URL</label>
        <input type="text" class="form-control" id="imageUrl" name="imageUrl"
        value="<%= product.imageUrl %>">
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
</form>